
.listtext:hover{
    background-color: rgb(77, 74, 74);
}
.listtext {
    display: block;
    background-color: rgb(125, 117, 117);
    color: seashell;
    padding: 12px;
    text-align: center;
    display: inline;
    float: left;
    text-decoration: none;
}
.blocklist {
    display: block;
    background-color: rgb(125, 117, 117);
    height: 50px;
    width: auto;
    position: sticky;
}
body{
    background-color: #bbb;
}
